* {
  transition: all 0.5s ease;
}

@font-face {
  font-family: myRegularFont;
  src: url(../assets/Dosis/static/Dosis-Regular.ttf);
  /* src: url(../assets/Roboto/Roboto-Regular.ttf); */
}

@font-face {
  font-family: myBoldFont;
  src: url(../assets/Dosis/static/Dosis-Bold.ttf);
  /* src: url(../assets/Roboto/Roboto-Bold.ttf); */
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

h3 {
  font-family: myRegularFont;
  font-size: 18px;
  color: #fff;
}

.arrow {
  margin-left: 1rem;
}

.backBanner {
  border-bottom: white;
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  border-bottom: 2px solid white;
  cursor: pointer;
  justify-content: space-between;
}
/* 
.backBanner:hover {
  border-bottom: 2px solid #EA9F1C;
  color: #EA9F1C;
} */

.browseMenu:hover + .hoverMenu{
  visibility: visible;
  opacity: 1;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0 solid white;
  background: #EA9F1C;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-family: myRegularFont;
}

.btn:hover {
  color: #EA9F1C;
  background: #fff;
  transform: scale(0.95);
}

#cart {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 23rem;
  background-color: #3f3f3f;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
  transform: translateX(200%);
}

#catNavMenu {
  display: flex;
  position: sticky;
  /* top: 2rem; */
  top: 0;
  left: 0;
  background-color: #3f3f3f;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.6);
  height: 3rem;
  margin-top: 2.8rem;
  align-items: center;
  padding-left: 2.2rem;
}

#catNavMenu a {
  display: flex;
  color: white;
  font-size: 1rem;
  font-family: myRegularFont;
  text-decoration: none;
  margin-right: 2.8rem;
}

.cartCont {
  padding: 2rem;
}

.cartItem {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.contShop {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #3f3f3f; */
  /* padding-top: 2rem; */
}

.extraOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid white;
  color: #fff;
  font-family: myRegularFont;
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ggIcon {
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.hoverMenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 7.3rem;
  left: 2rem;
  width: 5rem;
  /* height: 50px; */
  background-color: #2D2D2D;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  z-index: 1;
}

.hoverMenu a {
  color: white;
  font-size: 1rem;
  font-family: myRegularFont;
  text-decoration: none;
  margin-top: 0.5rem;
}

.hoverMenu:hover {
  visibility: visible;
  opacity: 1;
}

.input {
  width: 80%;
  height: 1rem;
  border: 0px solid white;
  border-bottom: 1px solid white;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: myRegularFont;
  color: white;
  background-color: #3f3f3f;
}

.itemImage {
  height: 6rem;
  width: auto
}

.itemInfo {
  margin-left: 1rem;
}

.itemName {
  font-size: 1.1rem;
  font-family: myRegularFont;
  color: #EA9F1C;
  width: 80%;
  /* margin-top: 0.5rem; */
}

.itemPrice {
  font-size: 1.4rem;
  font-family: myBoldFont;
  color: white;
}

.line {
  width: 150%;
  height: 2px;
  margin-left: -2rem;
  /* margin-right: -2rem; */
  background-color: white;
  margin-top: 2rem;
}

#login {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 23rem;
  background-color: #3f3f3f;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
  transform: translateX(200%);
}

#navbar {
  display: flex;
  width: 100%;
  height: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-left: 2rem;
  /* position: sticky;
  background-color: #EA9F1C;
  top: 0;
  left: 0; */
}

.navIcon {
  font-size: 1.8rem;
  color: white;
  margin-left: 6%;
}

.navIcon:hover {
  cursor: pointer;
  color: #EA9F1C;
}

.navIconCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin-right: 4rem;
}

.navImg {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: rgba(45, 45, 45, 0.7);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
}

#navMenu {
  display: flex;
  margin-left: 2.2rem;
  margin-top: 2rem;
}

#navMenu a {
  display: flex;
  color: white;
  font-size: 1rem;
  font-family: myRegularFont;
  text-decoration: none;
  margin-right: 2.5rem;
}

.number {
  color: white;
  font-size: 1.2rem;
  font-family: myBoldFont;
  margin-left: 1rem;
  margin-right: 1rem;
}

.popupArrow {
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  font-size: 1.5rem;
}

.popupHeader {
  font-family: myBoldFont;
  font-size: 1.6rem;
  color: white;
  z-index: 1;
}

.priceBundle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.quantity {
  display: flex;
  align-items: center;
}

.symbol {
  color: white;
  border: 2px solid white;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 5px;
}

.symbol:hover {
  cursor: pointer;
  background-color: #EA9F1C;
  border: 2px solid #EA9F1C;
  transform: scale(0.95);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.2rem;
  color: white;
  font-size: 3rem;
  font-family: myRegularFont;
  letter-spacing: 4vw;
  margin-left: 4vw;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.totalPrice {
  font-family: myBoldFont;
  font-size: 1.6rem;
  color: white;
  /* margin-left: 1rem; */
}

.whiteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-family: myRegularFont;
  margin-right: 1rem;
}

.whiteBtn:hover {
  /* color: #EA9F1C; */
  background: #EA9F1C;
  transform: scale(0.95);
  border: 2px solid #EA9F1C;
}