body { 
  background: #3f3f3f;
}
main { 
  display: flex;
  /* justify-content: space-between; */
}

.boxes {
  display: flex;
  align-items: center;
}

#filterBar {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
  /* width: 20rem; */
  border-radius: 1rem;
  padding: 1rem;
}

#filterMenu {
  position: fixed;
  display: none;
  flex-direction: column;
  /* align-items: center; */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #3f3f3f;
  padding-bottom: 4rem;
  overflow-y: scroll;
}

.filterSelect {
  display: none;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
  padding: 0.3rem;
  width: 9.6rem;
  border-radius: 0.2rem;
  border: 2px solid white;
  font-family: myRegularFont;
  text-decoration: none;
  /* margin-right: 1rem; */
}

.gridOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

#innerBox {
  display: flex;
  background-color: #EA9F1C;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
}

/* #innerBox1 {
  display: none;
  background-color: #EA9F1C;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
}
#innerBox2 {
  display: none;
  background-color: #EA9F1C;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
}
#innerBox3 {
  display: none;
  background-color: #EA9F1C;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
}
#innerBox4 {
  display: none;
  background-color: #EA9F1C;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
} */

#leftSideContent {
  overflow-y: scroll;
  height: calc(100vh - 21.5rem);
  min-width: 18rem;
  padding: 2%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

#leftSideContentSearch {
  overflow-y: scroll;
  height: calc(100vh - 11.5rem);
  min-width: 18rem;
  padding: 2%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

#leftSideContent::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#leftSideContentSearch::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.mobileXMarkFilter {
  color: #EA9F1C;
  font-size: 3rem;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.outerBox {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
}

.pageHeader {
  font-size: 1.5rem;
  font-family: myBoldFont;
  color: white;
}

.pageHeaderCont {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.productInGrid {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #2D2D2D;
  border-radius: 0.5rem;
  width: 11rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 1rem;
  text-decoration: none;
}

.productGridGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-top: 1rem; */
}

.rando {
  width: 25rem;
  height: 25rem;
  background-color: aqua;
}

#rightSideContent {
  overflow-y: scroll;
  padding: 2%;
  /* width: 70%; */
  height: calc(100vh - 21.5rem);
}
#rightSideContentSearch {
  overflow-y: scroll;
  padding: 2%;
  /* width: 70%; */
  height: calc(100vh - 11.5rem);
}

.section {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.sectionHeader {
  font-size: 1.2rem;
  font-family: myBoldFont;
  color: white;
  /* margin-bottom: 0.5rem; */
}

.sectionHeaderCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#selectedFilter {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
#selectedFilter1 {
  display: none;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
#selectedFilter2 {
  display: none;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
#selectedFilter3 {
  display: none;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
#selectedFilter4 {
  display: none;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
#selectedFilter5 {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
#selectedFilter6 {
  display: none;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
#selectedFilter7 {
  display: none;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
#selectedFilter8 {
  display: none;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
#selectedFilter9 {
  display: none;
  align-items: center;
  color: white;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

#selection {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}

#selection1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selection2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selection3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selection4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selection5 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selection6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selection7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selection8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selection9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}

#selection:hover {
  cursor: pointer;
}
#selection1:hover {
  cursor: pointer;
}
#selection2:hover {
  cursor: pointer;
}
#selection3:hover {
  cursor: pointer;
}
#selection4:hover {
  cursor: pointer;
}
#selection5:hover {
  cursor: pointer;
}
#selection6:hover {
  cursor: pointer;
}
#selection7:hover {
  cursor: pointer;
}
#selection8:hover {
  cursor: pointer;
}
#selection9:hover {
  cursor: pointer;
}

#selectionFull {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}

#selectionFull1 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selectionFull2 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selectionFull3 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selectionFull4 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selectionFull5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selectionFull6 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selectionFull7 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selectionFull8 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
#selectionFull9 {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}

#selectionFull:hover {
  cursor: pointer;
}
#selectionFull1:hover {
  cursor: pointer;
}
#selectionFull2:hover {
  cursor: pointer;
}
#selectionFull3:hover {
  cursor: pointer;
}
#selectionFull4:hover {
  cursor: pointer;
}
#selectionFull5:hover {
  cursor: pointer;
}
#selectionFull6:hover {
  cursor: pointer;
}
#selectionFull7:hover {
  cursor: pointer;
}
#selectionFull8:hover {
  cursor: pointer;
}
#selectionFull9:hover {
  cursor: pointer;
}

.selectionText {
  font-size: 1.1rem;
  font-family: myRegularFont;
  color: white;
  margin-left: 1rem;
}

.sortHoverMenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 2.7rem;
  right: 2rem;
  width: 7rem;
  /* height: 50px; */
  background-color: #2D2D2D;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  z-index: 2;
}

.sortHoverMenu h3 {
  color: white;
  font-size: 1rem;
  font-family: myRegularFont;
  text-decoration: none;
  margin-top: 0.5rem;
}

.sortHoverMenu:hover {
  visibility: visible;
  opacity: 1;
}

.sortHoverMenu h3:hover {
  color: #EA9F1C;
}

.sortMenu {
  display: flex;
  color: white;
  align-items: center;
  font-size: 1rem;
  font-family: myRegularFont;
  text-decoration: none;
  margin-right: 2.5rem;
  margin-bottom: 0.8rem;
}

.sortMenu:hover {
  color: #EA9F1C;
  cursor: pointer;
}

.sortMenu:hover + .sortHoverMenu{
  visibility: visible;
  opacity: 1;
}

.sortMenu:hover i{
  transform: rotate(-90deg);
}


@media screen and (max-width: 770px) {

  .filterSelect {
    display: flex;
  }

  #leftSideContent {
    display: none;
  }

  #leftSideContentSearch {
    display: none;
  }

  .pageHeaderCont {
    flex-direction: column;
    align-items: unset;
  }

  .productInGrid {
    width: 9.5rem;
    margin-right: 0.3rem;
  }

  #rightSideContent {
    padding-top: 5%;
    /* width: 70%; */
    height: calc(100vh - 15rem);
  }

  #rightSideContentSearch {
    padding-top: 3%;
    /* width: 70%; */
    height: calc(100vh - 6rem);
  }

  .section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sortMenu {
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    padding: 0.3rem;
    width: 9.6rem;
    border-radius: 0.2rem;
    border: 2px solid white;
    font-family: myRegularFont;
    text-decoration: none;
    margin-right: 0.3rem;
    margin-bottom: 0;
  }

  .sortHoverMenu {
    right: 1rem;
    top: 4.7rem;
  }

}